<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('ucd.png') %>">
    </a>
    <h1>Computer Forensics & Digital Investigations</h1>
    <p>This is a sample Ruby application deployed to demonstrate the usability of the Rails-Console-Access-Check gem.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://docs.google.com/document/d/1cUYy-W60g68xp6OLkyP4bplYbk6-NVYOigBEBkzrH0o/edit?usp=sharing"><span class="glyphicon glyphicon-flash"></span> My final project</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/siwS/rails-console-access-check"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>



<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Disclaimer: This is a demo application and is not intended to be deployed in any purposeful way
  </div>
  <hr>
  <div class="row" style="padding:40px;">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How it works</h3>
      <ul>
        <li>This is the admin page of a web application where the inventory department can add products and view the orders</li>
        <li>By adding the Rails-Console-Access-Check gem the person who deploys the app can define access on the production console level</li>
        <li>Access rules around the sensitive models can be defined through the gem configuration</li>
        <li>Then just deploy your app!</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <p>The gem is already open sourced on Github and tested for PostgreSQL, MySQL and MongoDB</p>
      <p>Next steps include</p>
      <ul>
        <li>Adding support for more datastores</li>
        <li>Adding tests to be production-ready</li>
        <li>Provide alternative ways of implementing access check</li>
        <li>To contribute:</li>
        <ul>
          <li><code>git clone git@github.com:siwS/rails-console-access-check.git</code> - this will create a local copy of the source code for the gem</li>
          <li><code>cd console_access_check</code> - change directory into the local source code repository</li>
          <li><code>rake install & gem install pkg/console_access_check-0.0.2.gem</code> - associate the Heroku app with the repository</li>
        </ul>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Built by Sofia Tzima (<a href="https://github.com/siwS" class="lang-logo">siwS</a>) based on
     <a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">Heroku Getting started with Ruby guide</a>
  </div>
</div>
